@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link{
  margin-left: 40px;
}

.page-container {
  padding-top: 100px; /* adjust based on navbar height */
}

.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%; /* Makes it circular */
  object-fit: cover;
  margin-bottom: 10px;
}

.universe-pics
{
  width : 190px;
  height: auto;
}
